modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "gce"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck"

[[workflows.workflow]]
name = "typecheck"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run typecheck"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-sheet:1.0.0", "github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_SUBJECT = "mailto:admin@marketingos.app"
VAPID_PUBLIC_KEY = "BBLKyhfjKtOGGQr3dQAtaKjZzAzHkHD9pgqb300ktSQyU3IEhq1pZhiEZRO3XNbGPLBwEHZtbNgDakanZ7NInDI"
