modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "gce"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-sheet:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BESJEN9ym4BfJI1HAqjAE5V3YESxWSf69F-cv0N9_ayuhJYHgINLKQT7CRsO_BrQm0L1DKCS-UpbOznzC2YHV5w"
VAPID_PRIVATE_KEY = "NwImWl8CY4c3DG2myb-lQ6dTQ5fYKZgvq6a171iXL_4"
VAPID_SUBJECT = "mailto:admin@marketingos.app"
